config/vim/backup/
config/vim/undo/
config/vim/swap/
config/vim/viminfo*
config/vim/.netrwhist
config/vim/sessions/
config/nvim/backup/
config/nvim/undo/
config/nvim/swap/
config/nvim/.netrwhist
config/ranger/bookmarks
config/weechat/weechat.log
config/weechat/irc.conf
config/weechat/logs
config/ncmpcpp/error.log
config/emacs/network-security.data
config/emacs/elpa
config/emacs/eshell
config/emacs/custom.el
config/emacs/savehist
config/emacs/auto-save-list
config/mpd/database
config/mpd/log
config/mpd/pid
config/mpd/state
config/mpd/sticker.sql
config/ncmpcpp/error.log
config/tmux/plugins/tmux-resurrect
config/tmux/resurrect
